<style>
	:root {
		--backgroundColor: <%- site?.background?.color || 'rgb(250,250,250)' %>;
	}
</style>

<% if (site.gtag) { %>
	<%- include(__dirname + '/templates/ga.html'); %>
<% } %>

<% if (site.toolbar?.enabled !== false) { %>
	<%- include(__dirname + '/templates/toolbar.html'); %>
<% } %>

<div class="area" id="memo"><%- include(__dirname + '/templates/memo.html'); %></div>

<% if (site.banner && site.banner.template) { %>
<div class="area" id="template"><%- include(__dirname + site.banner.template.src); %></div>
<% } %>

<% if (site.message) { %>
<div class="area" id="message"><%- include(__dirname + '/templates/message.html'); %></div>
<% } %>

<div class="area" id="header"><%- include(__dirname + '/templates/header.html'); %></div>

<% if (site.menu && site.menu.src) { %>
<div class="area" id="navigator"><%- include(__dirname + '/templates/navigator.html'); %></div>
<% } %>

<% if (node.template && node.template.src) { %>
<div class="area" id="src"><%- include(__dirname + node.template.src); %></div>
<% } else if (node.template && node.template.content) { %>
<div class="area" id="page"><%- include(__dirname + '/templates/page.html'); %></div>
<% } %>

<% if (node.memo) { %>
<div style="padding-top: 25px;">
	<div class="container">
		<div class="uk-alert-primary" uk-alert>
		    <a class="uk-alert-close" uk-close></a>
		    <p><%- node.memo; %></p>
		</div>
	</div>
</div>
<% } %>

<div class="area" id="sections"><%- include(__dirname + '/templates/sections.html', {modules: modules}); %></div>

<div class="area" id="footer"><%- include(__dirname + '/templates/footer.html'); %></div>
<div class="area" id="copyright"><%- include(__dirname + '/templates/copyright.html'); %></div>

<div ng-if="keyboard.focus" id="keyboard_wrapper" data-background="{{keyboard.focus.background}}" ng-include="'/assets/templates/keyboard.html?cid=' + cid"></div>
