<!DOCTYPE html>
<html lang="en-US" ng-app="app" ng-controller="main" class="no-select">

	<head>
		
		<title><%- (node.title || site.title) %></title>
		
		<meta charset="UTF-8">
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="content-language" content="en-US">
		
		<meta name="description" content="<%- (node.description || site.description) %>">
		<meta name="keywords" content="<%- (node.keywords || site.keywords) %>">
		<meta name="author" content="<%- (node.author || site.author) %>">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="viewport" content="user-scalable=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="robots" content="index, follow">
		<meta name="application-name" content="<%- (site.title) %>" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="msapplication-TileColor" content="#000000" />
		<meta name="theme-color" content="#000000" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="google" content="notranslate" />
		
		<base href="/">
		
		<link rel="stylesheet" type="text/css" href="/node_modules/angular-material/angular-material.css?cid=<%- cid; %>">
		<link rel="stylesheet" type="text/css" href="/node_modules/ng-tags-input/build/ng-tags-input.min.css?cid=<%- cid; %>">
		<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-4.1.3-dist/css/bootstrap-grid.min.css?cid=<%- cid; %>">
		<link rel="stylesheet" type="text/css" href="/assets/vendor/angular-super-gallery-develop/demo/assets/css/font-awesome.min.css?cid=<%- cid; %>">
		<link rel="stylesheet" type="text/css" href="/assets/vendor/angular-super-gallery-develop/dist/angular-super-gallery.min.css?cid=<%- cid; %>" />
		<link rel="stylesheet" type="text/css" href="/assets/vendor/angular-xeditable-0.9.0/css/xeditable.min.css?cid=<%- cid; %>">
		<link rel="stylesheet" type="text/css" href="/assets/vendor/royalslider/royalslider.css?cid=<%- cid; %>">
		
		<style><%- include('assets/css/defaults.css'); %></style>
		
		<link rel="stylesheet" href="/assets/css/main.css?cid=<%- cid; %>">
		
	</head>
	
	<body>

		<% if (site.message) { %>
		<div><%- include(__dirname + '/templates/message.html'); %></div>
		<% } %>

		<div><%- include(__dirname + '/templates/header.html'); %></div>

		<% if (site.menu && site.menu.src) { %>
		<div><%- include(__dirname + '/templates/navigator.html'); %></div>
		<% } %>

		<% if (node.template && node.template.src) { %>
		<div><%- include(__dirname + node.template.src); %></div>
		<% } else if (node.template && node.template.content) { %>
		<div><%- include(__dirname + '/templates/page.html'); %></div>
		<% } %>

		<div><%- include(__dirname + '/templates/footer.html'); %></div>
		<div><%- include(__dirname + '/templates/copyright.html'); %></div>

		<footer>

			<script type="text/javascript" src="/socket.io/socket.io.js"></script>

			<script type="text/javascript" src="/assets/js/functions.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/js/socket.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/html5-qrcode.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/underscore-min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/jquery-1.11.1.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/angular-1.7.3/angular.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/angular-1.6.1/angular-route.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/moment.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/moment-timezone-with-data.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/angular-moment-master/angular-moment.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/angular-xeditable-0.9.0/js/xeditable.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/utterscroll-master/jquery-scrollable.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/utterscroll-master/debiki-utterscroll.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/utterscroll-master/script.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/node_modules/angular-aria/angular-aria.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/node_modules/angular-messages/angular-messages.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/node_modules/angular-material/angular-material.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/node_modules/ng-tags-input/build/ng-tags-input.min.js?cid=<%- cid; %>"></script>



			<script type="text/javascript" src="/assets/vendor/angular-super-gallery-develop/demo/assets/js/angular-touch.min.js?cid=<%- cid %>"></script>
			<script type="text/javascript" src="/assets/vendor/angular-super-gallery-develop/demo/assets/js/screenfull.js?cid=<%- cid %>"></script>
			<script type="text/javascript" src="/assets/vendor/angular-super-gallery-develop/dist/angular-super-gallery.js?cid=<%- cid %>"></script>



			<script type="text/javascript" src="/assets/vendor/royalslider/jquery.royalslider.min.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/vendor/FitText.js-master/jquery.fittext.js?cid=<%- cid; %>"></script>

			<script type="text/javascript" src="/assets/js/app.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/js/filters.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/js/directive.js?cid=<%- cid; %>"></script>
			<script type="text/javascript" src="/assets/js/main.js?cid=<%- cid; %>"></script>

		</footer>

	</body>
	
</html>
