<div style="padding: 15px 25px; text-align: center;">
	<div style="display: inline-block; vertical-align: middle;">
		<table>
			<tbody>
				<tr>
					
					<% if (session?.passport?.user?.owner) { %>
					<td align="center" style="padding: 0 3px;">
						<a href="/api/access/login/<%- session?.passport?.user?.owner || '*' %>" target="_top" class="btn btn-dark btn-round" style="margin: 0; color: #fff; line-height: 55px; padding: 0; font-size: 12px;">Exit</a>
					</td>
					<% } %>
					
					<% if (session?.uid) { %>
					<td align="center" style="padding: 0 3px;">
						<a href="/@<%- session?.profile?.id %>" class="btn btn-basic btn-round" style="margin: 0;">
							<table width="100%" height="100%">
								<tbody>
									<tr>
										<td align="center" valign="middle">
											<i class="fa fa-user" style="display: block; font-size: 20px;"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</a>
					</td>
					<% } %>
					
					<td align="center" style="padding: 0 3px;">
						<a href="/services" class="btn btn-basic btn-round" style="margin: 0;">
							<table width="100%" height="100%">
								<tbody>
									<tr>
										<td align="center" valign="middle">
											<i class="fa fa-cogs" style="display: block; font-size: 20px;"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</a>
					</td>
					
					<% if (session?.uid) { %>
					<td align="center" style="padding: 0 3px;">
						<a href="/api/access/logout" ng-click="state.clear();" target="_top" class="btn btn-basic btn-round" style="margin: 0;">
							<table width="100%" height="100%">
								<tbody>
									<tr>
										<td align="center" valign="middle">
											<i class="fa fa-sign-out" style="display: block; font-size: 20px;"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</a>
					</td>
					<% } %>
					
					<% if (!session?.uid) { %>
					<td align="center" style="padding: 0 3px;">
						<a href="/access/login" class="btn btn-basic btn-round" style="margin: 0;" target="_top">
							<table width="100%" height="100%">
								<tbody>
									<tr>
										<td align="center" valign="middle">
											<i class="fa fa-unlock-alt" style="display: block; font-size: 20px;"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</a>
					</td>
					<% } %>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
