<div style="padding: 50px 0; background-color: #f44336; color: #ffffff;">
	<div class="container">
		
		<div class="row">
			
			<div class="col col-auto" style="padding: 0 15px;">
				<div class="row" style="margin: -10px;">
					
					<div class="col" style="padding: 10px;">
						<div style="font-size: 22px; font-weight: bold;">${{cart.current.amount | formatPrice}}</div>
						<div class="hide-overflow">Sub-total</div>
					</div>
					
					<div class="col" style="padding: 10px;">
						<div style="font-size: 22px; font-weight: bold;">${{cart.current.amount * .07 | formatPrice}}</div>
						<div class="hide-overflow">Tax</div>
					</div>
					
					<div class="col" style="padding: 10px;">
						<div style="font-size: 22px; font-weight: bold;">${{cart.current.amount + (cart.current.amount * .07) | formatPrice}}</div>
						<div class="hide-overflow">Total</div>
					</div>
					
				</div>
			</div>
			
			<div class="col text-right" style="padding: 0 15px;"></div>
			
		</div>
		
		<div class="row" style="margin-top: 15px;">
			
			<div class="col col-auto" style="padding: 0 15px;">
				<div style="font-size: 65px; color: #ffffff;">${{(cart.current.amount + (cart.current.amount * .07)) - (cart.current.paid || 0) | formatPrice}}</div>
			</div>
			
			<div class="col text-right" style="padding: 0 15px;"></div>
			
		</div>
		
	</div>
</div>

		
		
<div ng-if="cart.current.amount" style="background-color: #ffffff;">
	<div class="row">
		<div class="col" ng-repeat="method in node.data.methods">
			<button class="btn btn-easy btn-block text-center hide-overflow" ng-click="notify({memo: 'Coming soon. Please call us.'});">
			
				<i class="fa fa-plus btn-link" style="margin-right: 5px;"></i>
				<span>{{method.title}}</span>
				<span ng-if="method.fee.base || method.fee.percent">+ (Fee: ${{method.fee.base | formatPrice}} + {{method.fee.percent}}%) </span>
				
			</button>
		</div>
	</div>
</div>

<div style="background-color: #cccccc; padding: 5px;">
	
	<div>
		<div class="container">
			<div style="padding: 50px 10px;">
				<p>*** Our online ordering system is being worked on. *** DEMO MODE ***</p>
				<span ng-if="cart.current.amount" style="font-size: 25px;">Select a payment method from above.</span>
				<span ng-if="!cart.current.amount" style="font-size: 25px;">Nothing to pay.</span>
			</div>
		</div>
	</div>
	
</div>


