<div style="padding: 50px 0;">
	<div class="container">
		
		<div class="row">
			
			<div ng-if="cart.current.id" class="col" style="padding: 0 15px;">
				
				<div ng-if="site.hours.memo">
					<div style="font-size: 23px; font-weight: bold;">Hours:</div>
					<div ng-bind-html="site.hours.memo | trust"></div>
				</div>

				<ul uk-accordion="multiple: false">
					
				    <li ng-class="{'uk-open': !cart.current.confirmed.handling}">
				        <a class="uk-accordion-title" href="#" ng-click="cart.current.confirmed.handling = true; cart.store();">
					        <span ng-show="!cart.current.confirmed.handling" class="btn btn-pill btn-info" style="font-size: 12px; padding: 10px 15px; border: 2px solid #ffffff; font-weight: bold;">
					        	<i class="fa fa-check-circle" style="margin-right: 5px;"></i>Confirm</span>
					        <span style="vertical-align: middle;">Handling</span>
					        <span ng-if="cart.current.handling" style="vertical-align: middle;">({{cart.current.handling}})</span>
				        </a>
				        <div class="uk-accordion-content">
					        
					        <div class="row" style="margin: -5px;">
						        <div class="col" style="padding: 5px;">
							        <button class="uk-button uk-button-default btn-block" ng-class="{'uk-button-secondary': cart.current.handling == 'TAKEOUT'}" ng-click="cart.current.handling = 'TAKEOUT'; cart.store();" style="line-height: 20px; padding: 10px 15px; height: 100%;">TAKEOUT</button>
						        </div>
						        <div class="col" style="padding: 5px;">
							        <button class="uk-button uk-button-default btn-block" ng-class="{'uk-button-secondary': cart.current.handling == 'CURBSIDE'}" ng-click="cart.current.handling = 'CURBSIDE'; cart.store();" style="line-height: 20px; padding: 10px 15px; height: 100%;">CURBSIDE</button>
						        </div>
						        <div class="col" style="padding: 5px;">
							        <button class="uk-button uk-button-default btn-block" ng-class="{'uk-button-secondary': cart.current.handling == 'DINE-IN'}" ng-click="cart.current.handling = 'DINE-IN'; cart.store();" style="line-height: 20px; padding: 10px 15px; height: 100%;">DINE-IN</button>
						        </div>
					        </div>
					        
					        <div style=" margin: -1px; margin-top: 5px;">
								<table width="100%">
									<tbody>
										
										
										<tr>
											<td width="50%" style="padding: 1px;">
												<input value="{{cart.current.time}}" type="time" name="time" placeholder="12:40:34" style="height: 50px; width: 100%;" onchange="$rootScope.cart.current.time = this.value; $rootScope.cart.store();" keyboard>
											</td>
											<td width="50%" style="padding: 1px;">
												<input value="{{cart.current.date}}" type="date" name="date" placeholder="2023-09-11" style="height: 50px; width: 100%;" onchange="$rootScope.cart.current.date = this.value; $rootScope.cart.store();" keyboard>
											</td>
										</tr>
										
									</tbody>
								</table>
								
								<div style="font-size: 12px; margin-top: 5px;">Orders outside of business hours will require a confirmation. All orders require a minimum of 15 minutes to process. As soon as possible is the default.</div>
					        </div>
					        
				        </div>
				    </li>
				    
				    <li ng-class="{'uk-open': !cart.current.confirmed.items}" ng-if="cart.current.confirmed.handling">
				        <a class="uk-accordion-title" href="#" ng-click="cart.current.confirmed.items = true; cart.store();">
					        <span ng-show="!cart.current.confirmed.items" class="btn btn-pill btn-info" style="font-size: 12px; padding: 10px 15px; border: 2px solid #ffffff; font-weight: bold;"><i class="fa fa-check-circle" style="margin-right: 5px;"></i>Confirm</span>
					        <span style="vertical-align: middle;">Items ({{cart.current.qty || 0}})</span>
				        </a>
				        <div class="uk-accordion-content">
					        
					        <div ng-if="!cart.current.qty">No items in your cart.</div>
					        
					        
					        <!--
							<div class="uk-card uk-card-default" ng-repeat="item in cart.current.items" style="margin-top: {{$first ? '0' : '10px'}};">
							   
							    <div class="uk-card-header">
							        <div class="uk-grid-small uk-flex-middle" uk-grid>
							            <div class="uk-width-auto">
							                <input ng-model="item.qty" keyboard autocomplete="off" type="number" placeholder="Qty." style="max-width: 60px; height: 60px; border-radius: 100% !important; text-align: center;" onchange="$rootScope.cart.store();" />
							            </div>
							            <div class="uk-width-expand">
								            
							                <h3 class="uk-card-title uk-margin-remove-bottom">
								                <a href="/menu?sku={{item.sku}}&id={{item.id}}" class="btn-link link" ng-class="{'strike text-mute': !item.qty}">{{item.title}}</a>
							                </h3>
							                
							                
										    <div>
													
												<span ng-repeat="(mod_id, modifiers) in item.modifiers" style="vertical-align: middle;">
													<a ng-repeat="modifier in modifiers" ng-if="modifier.value" href="/menu?sku={{item.sku}}&id={{item.id}}&modifier={{mod_id}}">
														<span ng-if="modifier.name" style="vertical-align: middle;">●</span>
														<span style="vertical-align: middle;">{{modifier.name}}</span>
														<span ng-if="modifier.amount" style="vertical-align: middle;">(+{{modifier.amount | formatPrice}})</span>
													</a>
												</span>
										    
												
												<span class="item-notes" editable-textarea="item.notes" e-keyboard="..." e-autocomplete="on" onaftersave="cart.store();" style="word-break: break-word; white-space: break-spaces; vertical-align: middle;">{{(item.notes ? ('— ' + item.notes) : null) || '...'}}</span>
												
										    </div>
							                
							                <p class="uk-text-meta uk-margin-remove-top" style="margin: 0;">
								                <span>${{item.amount * item.qty | formatPrice}}</span>
							                </p>
							                
							                
							            </div>
							        </div>
							    </div>

							</div>
							-->
							
							
							
				<div class="item entry" ng-repeat="ENTRY in cart.current.items" style="padding: 0 15px; margin: 15px 0;" ng-class="{'active-entry': query.sku == ENTRY.sku && query.id == ENTRY.id}" id="{{ENTRY.id}}" data-msrp="{{ENTRY.msrp}}">
					
					<table width="100%">
						<tbody>
							<tr>
								<td valign="top" style="position: relative; white-space: nowrap;" align="center">
									
									<button class="btn btn-easy btn-round hide-overflow ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" type="number" placeholder="1" keyboard min="1" ng-model="ENTRY.qty" ng-change="cart.store();" autocomplete="off" aria-invalid="false">{{ENTRY.qty}}</button>
									
									<div style="margin-top: 3px;">
										<button class="btn btn-link" style="font-size: 16px;" ng-click="cart.remove(ENTRY.sku, ENTRY.id);">
											<i class="fa fa-trash-o"></i>
										</button>
									</div>
									
								</td>
								<td valign="top" width="100%" style="padding-left: 10px;">
									
									<div class="row">
										
										<div class="col">
									
											<a href="/menu?sku={{ENTRY.sku}}&id={{ENTRY.id}}" style="font-size: 20px; word-break: break-word;" class="entry-link text-black btn-link {{query.sku == ENTRY.sku && query.id == ENTRY.id ? 'text-pink' : 'link'}}">
												<b class="item-title">{{ENTRY.title}}</b>
												<div style="margin-top: 5px; font-size: 12px;">{{ENTRY.ref}}</div>
											</a>
											
										</div>
									
										<div class="col col-auto text-right" style="max-width: 100%; padding: 0 2.5px;">

											<div>
												<span editable-number="ENTRY.price" e-keyboard="$0.00" e-autocomplete="off" onaftersave="cart.store();">${{(ENTRY.price == 0 ? 0 : (ENTRY.price || ENTRY.msrp || 0)) | formatPrice}}</span>
											</div>
											
										</div>
									
									</div>
									
									
									<div class="item-addons">
										<span ng-repeat="(mod_id, modifiers) in ENTRY.modifiers">
											<a ng-repeat="modifier in modifiers" ng-if="modifier.value" href="/menu?sku={{ENTRY.sku}}&id={{ENTRY.id}}&modifier={{mod_id}}" class="{{query.modifier == mod_id ? 'text-pink' : 'link'}}">
												<span ng-if="modifier.name" style="vertical-align: middle;">●</span>
												<span style="vertical-align: middle;">{{modifier.name}}</span>
												<span ng-if="modifier.amount" style="vertical-align: middle;">(+{{modifier.amount | formatPrice}})</span>
											</a>
										</span>	
									</div>

									<div class="row" style="margin-top: 5px;">
										
										<div class="col">
											<span class="item-notes" editable-textarea="ENTRY.notes" e-keyboard="..." e-autocomplete="on" onaftersave="cart.store();" style="word-break: break-word; white-space: break-spaces;">{{(ENTRY.notes ? ('— ' + ENTRY.notes) : null) || '...'}}</span>
										</div>
									
										<div class="col col-auto text-right" style="max-width: 100%; padding: 0 2.5px;">
					
											<div>
												<b style="white-space: nowrap;">${{(ENTRY.amount || 0) | formatPrice}}</b>
											</div>

										</div>
									
									</div>
									
								</td>

							</tr>
						</tbody>
					</table>

				</div>
							
							
							
							
							
							
							
							
							
				        </div>
				    </li>
				    
				    <li class="uk-open" ng-if="cart.current.qty && cart.current.confirmed.handling && cart.current.confirmed.items">
				        <a class="uk-accordion-title" href="#">Payment Method</a>
				        <div class="uk-accordion-content">
							
							<div style="font-size: 12px;">
								<i>Fees, discounts, and taxes applied.</i>
								<b>Please select a method:</b>
							</div>

					        <div class="row" style="margin: -5px; margin-top: 5px;">
						        <div class="col" style="padding: 5px;" ng-repeat="method in node.data.methods" data-inlocation="{{method.inlocation}}">
							        
							        <button class="uk-button uk-button-default btn-block" ng-click="cart.pay(method);" style="line-height: 20px; padding: 15px 15px; height: 100%; line-height: 16px;" ng-disabled="method.disabled || cart.current.due <= 0">
							        
										<span>{{method.title}}</span>
										
										<div ng-if="cart.current.due > 0" style="margin-top: 7px; font-size: 22px;">
											<b>${{b = cart.current.amount; b = (b + (b * (method.fee.interchange || 0) / 100)); b = (b + method.fee.processing || 0); b = (b + (b * (method.tax || 0) / 100)); b - cart.current.paid | formatPrice}}</b>
										</div>
										
							        </button>
							        
						        </div>
					        </div>		
					        
							<div>
								
								<div ng-repeat="payment in cart.current.payments" class="uk-card uk-card-default" style="margin-top: 10px;">
								    <div class="uk-card-header" style="border: none;">
								        <div class="uk-grid-small uk-flex-middle" uk-grid>
								            <div class="uk-width-auto">
									            <div class="uk-border-circle" style="width: 60px; height: 60px; background-color: #f2f2f2; padding: 15px;">
										            <div style="height: 100%; width: 100%; background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url('/assets/img/payment-networks/{{payment.network}}.svg');"></div>
									            </div>
								            </div>
								            <div class="uk-width-expand">
								                <h3 class="uk-card-title uk-margin-remove-bottom">
									                
									                <span editable-number="payment.amount" e-keyboard="$0.00" e-autocomplete="off" onaftersave="cart.store();" class="ng-scope ng-binding editable editable-click">${{payment.amount | formatPrice}}</span>
									                
									                
									                <b ng-if="payment.paid < payment.amount" class="text-danger">(${{(payment.amount - payment.paid) | formatPrice}})</b>
									                
									                <b ng-if="payment.paid > payment.amount" class="text-success">(${{(payment.amount - payment.paid) * -1 | formatPrice}})</b>
									                
									                <b ng-if="payment.paid == payment.amount">($0)</b>
									                
								                </h3>
								                <p class="uk-text-meta uk-margin-remove-top">
									                <span>{{payment.title}}</span>
									                <span ng-if="payment.network" style="text-transform: uppercase;">({{payment.network}})</span>
								                </p>
								            </div>
								        </div>
								    </div>
								    <div class="uk-card-body" style="padding: 0;" ng-include="'/templates/checkout-' + payment.network + '.html?cid=' + cid"></div>
								    <div class="uk-card-footer">
								        <button href="#" class="uk-button uk-button-text" ng-click="cart.pay(payment, 'delete');">Delete</button>
								    </div>
								</div> <!-- END CARD -->
							
							</div>

				        </div>
				    </li>
				    
				</ul> <!-- END ACCORDIONS -->

			</div> <!-- END CART LEFT -->
			
			<div class="col text-right my-right-col" style="padding: 0 15px;">
				
				<div uk-sticky="end: .my-right-col; offset: 25" style="z-index: 1;">
				    <div class="uk-card uk-card-default uk-card-body uk-text-left uk-position-z-index">
					    
					    <div style="font-weight: bold;">Order Summary</div>
					    
					    <div style="padding-left: 15px; margin-top: 10px;">
	
							<div class="uk-grid-small" uk-grid>
							    <div class="uk-width-expand" uk-leader>Items:</div>
							    <div>${{cart.current.amount | formatPrice}}</div>
							</div>	
	
<!--
							<div class="uk-grid-small" uk-grid>
							    <div class="uk-width-expand" uk-leader>Savings:</div>
							    <div>${{cart.current.savings | formatPrice}}</div>
							</div>
-->
	
							<div class="uk-grid-small" uk-grid>
							    <div class="uk-width-expand" uk-leader>Fees:</div>
							    <div>${{cart.current.fees | formatPrice}}</div>
							</div>
	
							<div class="uk-grid-small" uk-grid>
							    <div class="uk-width-expand" uk-leader>Taxes:</div>
							    <div>${{cart.current.taxes | formatPrice}}</div>
							</div>
						
					    </div>	
							
						<table width="100%" style="font-size: 24px; margin-top: 10px;">
							<tbody>
								
								<tr ng-if="cart.current.taxes">
									<td>
										<div style="font-weight: bold;">Total:</div>
									</td>
									<td align="right">
										<div class="text-info" style="font-weight: bold;">${{(cart.current.amount + cart.current.fees + cart.current.taxes) | formatPrice}}</div>
									</td>
								</tr>

								<tr>
									<td>
										<div style="font-weight: bold;">Paid:</div>
									</td>
									<td align="right">
										<div class="text-info" style="font-weight: bold;">${{(cart.current.paid) | formatPrice}}</div>
									</td>
								</tr>
								
							</tbody>
						</table>		
					    
				    </div>
<!--
					<div ng-if="cart.current.id" style="margin-top: 10px; text-align: left;">
						<button href="#" class="uk-button uk-button-text" ng-click="cart.delete(cart.current.id);">Delete</button>
					</div>
-->
				</div>

			</div>
			
		</div>

	</div>
</div>
