<div class="container">
	<div style="padding: 45px 15px;">
		
		<style>
			
			.dataTables_wrapper {
			    overflow: scroll;
			    width: 100%;
			    max-width: 100%;
			}
			
			.dataTables_info {
				margin-bottom: 10px;
			}
			
			.dataTables_paginate {
				margin-top: 5px;
			}

			table.dataTable {
			}

			table.dataTable tbody th, table.dataTable tbody td {
			    padding: 15px 10px;
			}
			
			table.dataTable, table.dataTable * {
				border: none !important;
			}
			
			.dataTables_wrapper .dataTables_filter {
				margin-bottom: 15px;
			}
			
			.dataTables_wrapper .dataTables_filter input {
				margin-left: 10px;
			    border: 1px solid #cccccc;
			    padding: 15px;
			    min-height: 20px;
			}
			
			.dataTables_wrapper .dataTables_paginate .paginate_button {
				background-image: none !important;
				border-radius: 0 !important;
			}
			
			.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
				color: #000000 !important;
			}
			
		</style>
		
		<table dt class="display" style="width: 100%;" src="<%- section.src %>">
			
			<thead>
				<tr>
					<% 
						var i = 0; for (var prop in section.columns) {
						i++; 
					%>
						<th
							data-key="<%- section.columns[prop].data %>"
							data-format="<%- section.columns[prop].format ? encodeURIComponent(section.columns[prop].format) : '' %>"
							data-searchable="<%- section.columns[prop].searchable %>"
							data-sortable="<%- section.columns[prop].sortable %>"
							data-align="<%- section.columns[prop].align %>"
							class="dt-<%- section.columns[prop].align %>"
						><%- section.columns[prop].title %></th>
					<% } %>
				</tr>
			</thead>
			
		</table>
		
	</div>
</div>