<style>
	.asg-image>.images .img>.placeholder.contain {
		background-size: cover !important;
	}
</style>

<!-- ASG BEGIN -->
<asg-image data-id="nature" data-items="files1" data-options="options1" data-selected="nature1Selected">
    <asg-modal>
        <asg-thumbnail></asg-thumbnail>
	</asg-modal>
</asg-image>

<asg-thumbnail data-id="nature"></asg-thumbnail>


<!--
<div class="row">
	
	<div class="col">
		<img src="/cdn/headshots/ari.jpg" width="100%" />
	</div>
	
	<div class="col">
		<img src="/cdn/headshots/ari.jpg" width="100%" />
	</div>
	
	<div class="col">
		<img src="/cdn/headshots/ari.jpg" width="100%" />
	</div>
	
	<div class="col">
		<img src="/cdn/headshots/ari.jpg" width="100%" />
	</div>
	
	<div class="col">
		<img src="/cdn/headshots/ari.jpg" width="100%" />
	</div>
	
</div>
-->