<table width="100%" height="100%" style="background-color: #e1e1e1; min-height: 100vh;">
	<tbody>
		
<!--
		<tr>
			<td>
				<table width="100%">
					<tbody>
						<tr>
							<td>
								<button ng-click="cart.new();" class="btn btn-info btn-block" style="padding: 15px 25px;">New</button>
							</td>
							<td width="100%">
								<button ng-click="cart.new();" class="btn btn-success btn-block" style="padding: 15px 25px;">Checkout</button>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
-->
		
		<tr height="0">
			<td valign="top" style="word-break: break-all; padding: 5px;">
				<input ng-model="cart.current.name" style="width: 100%; height: 80px;" placeholder="{{cart.current.ref}}" keyboard ng-change="cart.store();" />
			</td>
		</tr>
		
		<tr height="100%">
			<td valign="top" style="word-break: break-all; padding: 0;">
				
				<div style="padding: 15px; text-align: center;">
					<b>{{cart.current.qty}}</b>
					<span>{{cart.current.qty == 1 ? 'item' : 'items'}} in cart</span>
					<b>{{cart.current.ref}}</b>
				</div>
				
				<div class="item entry" ng-repeat="ENTRY in cart.current.items" style="padding: 0 15px; margin: 15px 0;" ng-class="{'active-entry': query.sku == ENTRY.sku && query.id == ENTRY.id}" id="{{ENTRY.id}}">
					
					<table width="100%">
						<tbody>
							<tr>
								<td valign="top" style="position: relative; white-space: nowrap;" align="center">
									
									<button class="btn btn-easy btn-round hide-overflow ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" type="number" placeholder="1" keyboard min="1" ng-model="ENTRY.qty" ng-change="cart.store();" autocomplete="off" aria-invalid="false">{{ENTRY.qty}}</button>
									
									<div style="margin-top: 3px;">
										<button class="btn btn-link" style="font-size: 16px;" ng-click="cart.remove(ENTRY.sku, ENTRY.id);">
											<i class="fa fa-trash-o"></i>
										</button>
									</div>
									
								</td>
								<td valign="top" width="100%" style="padding-left: 10px;">
									
									<div class="row">
										
										<div class="col">
									
											<a href="/menu?sku={{ENTRY.sku}}&id={{ENTRY.id}}" style="font-size: 20px; word-break: break-word;" class="entry-link text-black btn-link {{query.sku == ENTRY.sku && query.id == ENTRY.id ? 'text-pink' : 'link'}}">
												<b class="item-title">{{node.data.payload.items[ENTRY.sku].item_data.name}}</b>
												<div style="margin-top: 5px; font-size: 12px;">{{ENTRY.ref}}</div>
											</a>
											
										</div>
									
										<div class="col col-auto text-right" style="max-width: 100%; padding: 0 2.5px;">

											<div>
												<span editable-number="ENTRY.price" e-keyboard="$0.00" e-autocomplete="off" onaftersave="cart.store();">${{((ENTRY.price === 0 ? 0 : (ENTRY.price || node.data.payload.items[ENTRY.sku].item_data.variations[0].item_variation_data.price_money.amount || 0))) | formatPrice}}</span>
											</div>
											
										</div>
									
									</div>
									
									<div class="item-addons">
										<span ng-repeat="(mod_id, modifiers) in ENTRY.modifiers" style="vertical-align: middle; word-break: break-word;" ng-if="node.data.payload.items[mod_id]">
											<a href="/menu?sku={{ENTRY.sku}}&id={{ENTRY.id}}&modifier={{mod_id}}" ng-repeat="modifier in modifiers" class="{{query.modifier == mod_id ? 'text-pink' : 'link'}}" style="vertical-align: middle;">
												
												<span ng-if="v.name" style="vertical-align: middle;">●</span>
												<span style="vertical-align: middle;">{{v = (node.data.payload.items[mod_id].modifier_list_data.modifiers | filter: {id: modifier.value})[0].modifier_data; (v.name);}}</span>
												<i class="item-addon-price" ng-if="v.price_money.amount" style="vertical-align: middle;" data-addon="{{v.price_money.amount}}">(${{v.price_money.amount | formatPrice}})</i>
											</a>
										</span>
									</div>
									
									<div class="row" style="margin-top: 5px;">
										
										<div class="col">
											<span class="item-notes" editable-textarea="ENTRY.notes" e-keyboard="..." e-autocomplete="on" onaftersave="cart.store();" style="word-break: break-word; white-space: break-spaces;">{{(ENTRY.notes ? ('— ' + ENTRY.notes) : null) || '...'}}</span>
										</div>
									
										<div class="col col-auto text-right" style="max-width: 100%; padding: 0 2.5px;">
					
											<div>
												<b style="white-space: nowrap;">${{((ENTRY.amount || 0) * ENTRY.qty) | formatPrice}}</b>
											</div>

										</div>
									
									</div>
									
								</td>

							</tr>
						</tbody>
					</table>
					
					
					
				</div>
				
				<div class="item entry" style="padding: 0 5px; margin: 0;">
					<button class="btn btn-block btn-gray" ng-click="cart.append();" style="padding: 10px;" title="Add custom item.">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
				</div>
				
				<div class="item entry" style="padding: 5px; margin: 0;">
					<textarea ng-model="cart.current.notes" placeholder="..." style="width: 100%; height: 120px; font-size: 12px;" keyboard onchange="$rootScope.cart.store();"></textarea>
				</div>
				
			</td>
		</tr>
		
<!--
		<tr>
			<td>
				<table width="100%">
					<tbody>
						<tr>
							<td>
								<button ng-click="cart.new();">New</button>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
-->
		
	</tbody>
</table>
