<%

	//var layout = node.template.layout;
	var layout = section.layout || node.template.layout;
	var mode = query.mode || 'view'; //fullscreen,print

%>
<div id="menu_board" class="no-select" oncontextmenu="event.preventDefault(); window.location.reload(true);">

	<style>
		
		#menu_board {
			min-height: 100vh;
		}
		
		#menu_board a {
			text-decoration: none;
		}
		
		#menu_board h4 {
			font-family: cursive;
			font-weight: normal;
			margin: 0;
			padding: 0 8px;
			font-size: 1.125rem;
		}
		
		#menu_board .item + .section-heading {
			margin-top: 5px;
		}
		
		#menu_board .col {
			display: inline-block;
			vertical-align: top;
		}
		
		#menu_board .item {
			padding: 5px;
		}
		
		#menu_board .item-variations {
			margin-top: 3px;
		}
		
		#menu_board {
		    background-color: #f2f2f2;
		}
		
		#menu_board .col.category {
		    padding: 25px;
		}
		
		@media screen and (max-width: 760px) {
			#menu_board .col.category {
			    display: block;
			    flex-basis: unset;
			}
		}
		
		#menu_board .col.category:nth-child(even) {
		    background-color: #fff;
		}

		#menu_board {
			background-color: #f2f2f2;
		}
		
		#menu_board {
			padding: 25px 0;
		}
		
	</style>
	
	<% if (mode == 'fullscreen') { %>
	<style>
				
		html, body {
			margin: 0;
			padding: 0;
		}
		
		* {
			font-size: 15px;
			font-weight: bolder !important
		}
		
		h3 * {
			font-size: 17px !important;;
		}
		
		#menu_board, #menu_board .col.category:nth-child(even) {
			background-color: transparent !important;
		}
		
		html, #menu_board {
			background-color: #000000 !important;
		}
		
		.area {
			display: none;
		}
		
		.area#src {
			display: block;
		}
		
		#menu_board,
		#menu_board {
			height: 100%;
		}
		
		#menu_board {
			padding: 0;
			display: flex;
			flex-direction: row;
		}
		
		#menu_board .col.category {
		    padding: 0 5px;
		}
		
		#menu_board .col {
			flex: 1;
		}
		
		#menu_board .item {
			padding: 2px;
			background-color: #000000;
		}
		
		.section-heading {
			color: yellow;
		}
		
		.item-heading * {
			color: #ffffff;
		}
		
		.item-description *,
		.item-variations * {
			color: cyan;
		}
		
		@keyframes slideAnimation {
			0% {
				background-image: url('/cdn/blender.webp');
			}
			50% {
				background-image: url('/cdn/tudays.svg');
			}
			100% {
				background-image: url('/cdn/blender.webp');
			}
		}

		
		@media screen and (min-width: 760px) {
			.category[data-category*="Smoothies"] {
				background-image: url('/cdn/blender.webp');
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: 200px;
				animation: slideAnimation 15s infinite;
			}
		}

		
		
		.category[data-category*="Brews"] {
			zoom: 1.20;
		}
		
		.category[data-category*="Smoothies"] {
			zoom: 1.15;
		}
		
		.category[data-category*="Sandwiches"] {
			zoom: 1.25;
		}
		
		#menu_board h4 {
			font-family: sans-serif;
			padding: 0;
			padding-top: 3px;
		}
		
	</style>
	<% } %>
	
	<table width="100%">
		<tbody>
			<tr height="100%">
				<td width="100%" valign="top">
					
					<div ng-if="query.view == 'carts'"><%- include('menu-carts.html'); %></div>
					
					<div ng-if="!query.view && query.id"><%- include('menu-modify.html'); %></div>
					
					<div ng-if="!query.view && !query.id" class="row">
						
					<% var p = 0; for (var prop in layout) {p++; items = layout[prop] %>
				
						<div class="col category" data-category="<%- items[0].title %>">
							
							<div>
							
							<% var i = 0; for (var prop in items) {i++; item = items[prop];
							
								if (item.active === false) continue;
							
								var _item = node.data.payload ? (node.data.payload.items[item.id] || {}) : {};
								
								if (_item.item_data)
								{
									if (!item.title && _item.item_data.name) item.title = _item.item_data.name;
									if (!item.description && _item.item_data.description) item.description = _item.item_data.description;
									
									if (!item.price && item.price !== false && _item.item_data.variations) item.price = _item.item_data.variations[0].item_variation_data.price_money.amount / 100;
								}
							
							%>
								
								<% if (!item.id) { %>
								<h4 class="section-heading"><%- item.title %></h4>
								<% } %>
								
								<% if (item.id) { %>			
								<div class="item" style="margin-bottom: 5px 0;" data-name="<%- item.title %>" data-id="<%- item.id %>" role="button" tabindex="<%- p.toString() + i.toString() %>">
									
									<div ng-click="cart.append('<%- item.id %>');" class="btn-link">
										
										<table class="item-heading" width="100%" style="margin: 0;">
											<tbody>
												<tr style="border: none;">
													
													<td width="100%" style="padding: 0;" valign="middle">
														
														<h3 class="item-title" style="margin: 0; font-weight: bolder;">
															
<!-- 															<i ng-if="cart.current.skus['<%- item.id %>']" class="fa fa-shopping-cart text-pink"></i> -->
															
															<i ng-if="cart.current || query.order == 'online'" class="fa fa-plus btn-link" style="vertical-align: middle; font-size: 12px;"></i>
															
															<% if (item.popular) { %>
															<span style="vertical-align: middle; font-size: 15px; color: orange;">★</span>
															<% } %>
															
															<% if (item.new) { %>
															<span style="vertical-align: middle; font-size: 15px; color: coral;">(NEW)</span>
															<% } %>
															
															<% if (item.limited) { %>
															<span style="vertical-align: middle; font-size: 15px; color: red;">(LIMITED)</span>
															<% } %>
															
															<span class="item-title-name btn-link" ng-class="{'text-pink': cart.current.skus['<%- item.id %>']}" style="vertical-align: middle;"><%- item.title %></span>
														</h3>
														
													</td>
													
													<td align="right" style="padding: 0; padding-left: 5px; white-space: nowrap;" valign="middle">
														<% if (item.price) { %>
														<div class="item-price">
															<span>$<%- item.price %></span>
														</div>
														<% } %>
													
													</td>
													
												</tr>
											</tbody>
										</table>
									   
										<% if (item.description) { %>
										<div class="item-description">
											<span>—</span>
											<span><%- item.description %></span>
										</div>
										<% } %>
										
									</div>
									
									<div ng-if="cart.current.skus['<%- item.id %>']" style="margin-top: 5px;">
										<div ng-repeat="(ID, has) in cart.current.skus['<%- item.id %>'].items" style="margin: 3px 0;">
											
											
											
											<table width="100%">
												<tbody>
													<tr>
														<td valign="top" style="padding-right: 10px;">
															
															<button class="btn btn-link block" style="font-size: 16px;" ng-click="cart.remove(cart.current.items[ID].sku, ID);">
																<i class="fa fa-trash-o ng-scope block"></i>
															</button>
															
														</td>
														<td valign="top" width="100%">
															
															<div>
																<a href="/menu?sku={{cart.current.items[ID].sku}}&id={{ID}}" class="link">
																	<b>({{cart.current.items[ID].qty}}x)</b>
																	<span style="font-size: 12px;">{{cart.current.items[ID].ref}}</span>
																</a>
															</div>
															
															<div style="line-height: 14px; font-size: 14px;">
																
																<span ng-repeat="(mod_id, modifiers) in cart.current.items[ID].modifiers" ng-if="node.data.payload.items[mod_id]">
																	<a ng-repeat="modifier in modifiers" href="/menu?sku={{cart.current.items[ID].sku}}&id={{ID}}&modifier={{mod_id}}" class="link">
																		<span ng-if="v.name" style="vertical-align: middle;">●</span>
																		<span style="vertical-align: middle;">{{v = (node.data.payload.items[mod_id].modifier_list_data.modifiers | filter: {id: modifier.value})[0].modifier_data; (v ? (v.name) : '');}}</span>
																	</a>
																</span>
																
																<a ng-if="cart.current.items[ID].notes" href="/menu?sku={{cart.current.items[ID].sku}}&id={{ID}}" style="vertical-align: middle;" class="link">— {{cart.current.items[ID].notes}}</a>
																
															</div>
															
														</td>
													</tr>
												</tbody>
											</table>
											
											
											<!--
											<span>{{cart.current.items[ID].ref}}</span>
													
											<button class="btn btn-link" style="font-size: 16px; vertical-align: middle; margin-right: 5px;" ng-click="cart.remove(cart.current.items[ID].sku, ID);">
												<i class="fa fa-trash-o ng-scope"></i>
											</button>
											
											<a href="/menu?sku={{cart.current.items[ID].sku}}&id={{ID}}" style="vertical-align: middle;">
												<b style="vertical-align: middle;">({{cart.current.items[ID].qty}}x)</b>
											</a>
											
											<span ng-repeat="(mod_id, modifiers) in cart.current.items[ID].modifiers" style="vertical-align: middle;" ng-if="node.data.payload.items[mod_id]">
												<a ng-repeat="modifier in modifiers" href="/menu?sku={{cart.current.items[ID].sku}}&id={{ID}}&modifier={{mod_id}}" style="vertical-align: middle;">
													<span ng-if="v.name" style="vertical-align: middle;">●</span>
													<span style="vertical-align: middle;">{{v = (node.data.payload.items[mod_id].modifier_list_data.modifiers | filter: {id: modifier.value})[0].modifier_data; (v ? (v.name) : '');}}</span>
												</a>
											</span>
											
											<a href="/menu?sku={{cart.current.items[ID].sku}}&id={{ID}}" style="vertical-align: middle;">
												<span ng-if="cart.current.items[ID].notes" style="vertical-align: middle;">● {{cart.current.items[ID].notes}}</span>
												
												<i class="fa fa-pencil" style="vertical-align: middle;"></i>
											</a>
											
											-->

											
										</div>
									</div>
								   
								</div>
								<% } %>
								
							<% } %>
								
							</div>
							
						</div>
				
					<% } %>
					
					</div>
				</td>
				
				<td valign="top" style="position: relative; overflow: hidden;">
					<table width="100%" height="100%" style="min-height: 100vh;">
						<tbody>
							<tr>
								<td ng-show="cart.current.id" style="min-width: 340px;">
									<div><%- include('menu-checkout.html'); %></div>
								</td>
								<td width="0" style="background-color: #000000;" valign="top">
									
									<a href="/menu" class="btn btn-block text-center btn-black text-white" style="margin: 0;" ng-class="{'active': $location.$$url == '/menu'}">
										<div style="position: relative;">
											<i class="fa fa-shopping-cart"></i>
											<span ng-if="cart.current.qty" style="position: absolute;font-size: 10px;height: 20px;width: 20px;line-height: 20px;border-radius: 100%;background-color: rgba(0,0,0,.5);bottom: -10px;color: #fff;font-weight: bold;">{{cart.current.qty}}</span>
										</div>
									</a>
									
									<a href="/menu?view=carts" class="btn btn-block text-center btn-black text-white" style="margin: 0;" ng-class="{'active': query.view == 'carts'}">
										<div style="position: relative;">
											<i class="fa fa-folder-open-o"></i>
											<span ng-if="cart.carts.count" style="position: absolute;font-size: 10px;height: 20px;width: 20px;line-height: 20px;border-radius: 100%;background-color: rgba(0,0,0,.5);bottom: -10px;color: #fff;font-weight: bold;">{{cart.carts.count}}</span>
										</div>
									</a>
									
									<button class="btn btn-block text-center btn-info" style="margin: 0;" ng-click="cart.new();">
										<span>New</span>
									</button>
									
									<button ng-if="cart.current.id" class="btn btn-block text-center btn-danger" style="margin: 0;" ng-click="cart.delete(cart.current.id);">
										<span>Del.</span>
									</button>
									
									<button ng-if="cart.current.id" class="btn btn-block text-center btn-easy" style="margin: 0; font-size: 16px;" ng-click="cart.unload();">
										<i class="fa fa-eject"></i>
									</button>
									
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				
			</tr>
		</tbody>
	</table>

</div>
