<div class="container">
	<div style="padding: 45px 15px;">
		
		<style>
			
			table[dt] .dt-row.active {
				background-color: #cccccc;
			}
			
		</style>
		
		<div ng-if="cache.tickets && !ticketing.saving">
			<table dt id="tickets" class="display" style="width: 100%;">
				
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="dt-row" ng-repeat="ticket in cache.tickets.list" ng-class="{'active': ticket.id == cache.ticket.id}">
						<td>
							<div>{{ticket.id}}</div>
							<div style="font-size: 12px;">{{ticket.ts | date: 'h:mm:ss a • MMM d, y'}}</div>
						</td>
						<td>{{ticket.name || 'N/A'}}</td>
						<td align="right">
							
							<button class="btn btn-easy btn-round" style="width: 50px; height: 50px; padding: 0; font-size: 12px;" ng-click="cache.ticket = ticket; ticketing.store();" ng-disabled="ticket.id == cache.ticket.id">Load</button>
							
							<button class="btn btn-danger btn-round" style="width: 50px; height: 50px; padding: 0; font-size: 12px;" ng-click="ticketing.delete(ticket.id);">Del.</button>
							
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
	</div>
</div>