<div class="container">
	<div>
		
		<style>
			
			table[dt] .dt-row.active {
				background-color: #cccccc;
			}
			
		</style>
		
		<div ng-if="!cart.saving">
			
			<div style="margin-bottom: 15px;">
				<table width="100%">
					<tbody>
						<tr>
							<td ng-if="cart.carts.count" width="100%">
								<button class="btn btn-danger btn-block" ng-click="cart.purge();">Remove All</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<table dt id="carts" class="display" style="width: 100%;" data-order='[[ 0, "asc" ]]' data-page-length='25' _data-column-defs='[{"sortable": false, "targets": [2]}]'>
				
				<thead>
					<tr>
						<th width="50%" valign="top">#</th>
						<th width="50%">Name</th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="dt-row" ng-repeat="item in cart.carts.list" ng-class="{'active': item.id == cart.current.id}" ng-click="cart.current = item; cart.store();">
						<td valign="top">
							<div style="font-size: 12px;">{{item.ts | date: 'h:mm:ss a • MMM d, y'}}</div>
							<div>
								<b ng-class="{'text-pink': cart.current.id == item.id}">{{item.ref}}</b>
							</div>
							
							<div style="margin-top: 10px;">
								<button class="btn btn-link" style="font-size: 12px; padding: 5px 10px;" ng-click="cart.delete(item.id);" stop-propagation>Delete</button>
								<button ng-if="cart.current.id == item.id" class="btn btn-link" style="font-size: 12px; padding: 5px 10px;" ng-click="cart.unload();" stop-propagation>Close</button>
							</div>
							
						</td>
						<td valign="top">
							
							<div style="font-size: 20px; font-weight: bold;" ng-class="{'text-pink': cart.current.id == item.id}">{{item.name || 'N/A'}}</div>
							
							<div ng-repeat="entry in item.items">
								<b>({{entry.qty || 0}}x)</b>
								<span>{{entry.title || entry.ref}}</span>
							</div>
							
							<div ng-if="item.notes" style="margin-top: 5px;">— {{item.notes}}</div>
							
<!--
							<div style="margin-top: 10px;">
								
								<button class="btn btn-easy btn-round" style="width: 50px; height: 50px; padding: 0; font-size: 12px;" ng-click="cart.current = item; cart.store();" ng-disabled="item.id == cart.current.id">Load</button>
							
								<button class="btn btn-danger btn-round" style="width: 50px; height: 50px; padding: 0; font-size: 12px;" ng-click="cart.delete(item.id);">Del.</button>
								
							</div>
-->
							
						</td>
					</tr>
				</tbody>
				
			</table>
			
		</div>

		<form name="confirm_number" system-form="" style="padding: 15px; position: relative; max-width: 480px; margin: auto;" name="tab_pay" key="$rootScope.cart.current" reset="" method="POST" class="container ng-pristine ng-valid" action="/submit">
		
			<input type="hidden" name="host" value="https://hook.us1.make.com" />
			<input type="hidden" name="path" value="/an9dzc46bgv2mqopxc96top4yhcj95x8?Content-Type=application/json" />
		
			<div>
				<input class="smooth-corners" type="text" name="reference" style="width: 100%; margin: 5px 0;" required="" autocomplete="on" placeholder="Reference #">
			</div>
		
			<div>
				<input class="smooth-corners" type="text" name="confirmation" style="width: 100%; margin: 5px 0;" required="" autocomplete="on" placeholder="Confirmation #">
			</div>
			
			<div ng-if="!confirm_number.$saving">
				<input type="hidden" name="g-recaptcha-response" />
				<div style="margin: 10px 0;" recaptcha="{{rkey}}"></div>
			</div>
			
			<div style="margin-top: 5px;">
				<button type="submit" class="btn btn-info smooth-corners" style="width: 100%;" ng-click="cart.store();">Confirm</button>
			</div>
		
		</form>

	</div>
</div>