<%
	var nav = JSON.parse(include(__dirname + site.menu.src));
	var colors = {links: '#000000'};
	
	if (site.colors && site.colors.links) colors.links = site.colors.links;
%>
<div style="background-color: #ffffff;">

	<style>
		
		#main_nav a {
			margin: 3px 7px;
			font-weight: bold;
			text-decoration: none;
			color: #000000;
			display: inline-block;
		}
		
		#main_nav a[href="{{$location.$$path}}"],
		#main_nav a[href^="{{$location.$$path == '/' ? '' : $location.$$path}}"],
		#main_nav a[href="<%- pathname %>"],
		#main_nav a[href^="<%- pathname == '/' ? '' : pathname %>"],
		#main_nav a[href="<%- pathname == '/home' ? '/' : pathname %>"] {
			color: <%- colors.links; %>;
		}
		
		#main_nav a:hover,
		#main_nav a.active {
			color: <%- colors.links; %>;
		}
		
	</style>
	
	<div>
		
		<div id="main_nav_wrapper" class="row align-items-center">
		
			<div class="col-3" style="padding: 20px 15px;">
				<a href="/" target="_top" style="display: block; width: 100%; height: 60px; margin: auto; background-image: url(<%- node.logo || site.logo || '/assets/img/logo.svg' %>); background-repeat: no-repeat; background-position: center center; background-size: contain;"></a>
			</div>
			
			<div class="col">
				
				<nav id="main_nav" style="padding: 15px;">
					
					<% nav.forEach(function(item) { %>
					
						<a href="<%- item.href %>" target="<%- item.target || '_top' %>"><%- item.title || item.href %></a>
					
					<% }) %>
					
				</nav>
				
			</div>
			
			<% if (site.menu && site.menu.snippet && site.menu.snippet.src) { %>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" style="text-align: center; background-color: #f2f2f2; padding: 25px 25px;">
					<%- include(__dirname + site.menu.snippet.src) %>
				</div>
			<% } %>
			
		</div>
	
	</div>
	
</div>