<%
	var nav = JSON.parse(include(__dirname + site.menu.src));
	var colors = {links: '#000000'};
	
	if (site.colors && site.colors.links) colors.links = site.colors.links;
%>
<div style="background-color: #ffffff; padding: 25px 0;">

	<style>
		
		#main_nav a {
			margin: 0 7px;
			font-weight: bold;
			text-decoration: none;
			color: #9e9e9e;
		}
		
		#main_nav a[href="{{$location.$$path}}"],
		#main_nav a[href^="{{$location.$$path == '/' ? '' : $location.$$path}}"],
		#main_nav a[href="<%- pathname %>"],
		#main_nav a[href^="<%- pathname == '/' ? '' : pathname %>"],
		#main_nav a[href="<%- pathname == '/home' ? '/' : pathname %>"] {
			color: <%- colors.links; %>;
		}
		
		#main_nav a:hover,
		#main_nav a.active {
			color: <%- colors.links; %>;
		}
		
	</style>
	
	<div class="container">
		
		<div id="main_nav_wrapper" class="row align-items-center">
		
			<div class="col-3" style="padding: 0;">
				<a href="/" target="_top" style="display: block; width: 100%; height: 60px; background-image: url(<%- node.logo || site.logo || '/assets/img/logo.svg' %>); background-repeat: no-repeat; background-position: center left; background-size: contain;"></a>
			</div>
			
			<div class="col">
				
				<nav id="main_nav" style="padding: 0 15px;">
					
					<% nav.forEach(function(item) { %>
					
						<a href="<%- item.href %>" target="<%- item.target || '_top' %>"><%- item.title || item.href %></a>
					
					<% }) %>
					
				</nav>
				
			</div>
			
		</div>
	
	</div>
	
</div>