<%
	
	if (!node.data.profile) return;
	if (node.data.profile.deleted) return;
	
	readOnly = true;
	owners = node.data.profile.owners || [];
	
	owners.push(node.data.profile._id.toString());
	
	if (owners.indexOf(session.uid) > -1) readOnly = false;
	
	if (readOnly && node.data.profile.deactivated) return;

%>

<div style="background-color: #ffffff;" ng-init="cache.profile = {};">
	
	<div style="height: 250px; background-color: #f2f2f2;">
		<div style="height: 100%; width: 100%; background-size: 100% auto; background-position: center center; background-image: url('<%- node.data.profile?.banner %>');" ng-preview="<%- node.data.profile?.banner %>"></div>
	</div>
	
	<div style="margin-top: -150px; pointer-events: none;">
		<div class="container" style="background-color: #ffffff; border-top-left-radius: 15px; padding: 0; pointer-events: all;">
		
			<div class="row">
				
				<div class="col" style="padding: 45px;">
					
					<div>
						<span
							editable-text="cache.profile.title"
							ng-disabled="<%- readOnly %>"
							style="font-size: 23px; font-weight: bold; word-break: break-word; color: #000; font-style: inherit;"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', title: cache.profile.title || ''}).then(templates.load, notify); cache.profile = {};"
						><%- node.data.profile.title || node.data.profile._id %></span>
					</div>
					
					<div>
						<span
							editable-text="cache.profile.id"
							ng-disabled="<%- readOnly %>"
							style="color: #000; font-style: inherit;"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', id: (cache.profile.id || cache.profile._id)}).then(templates.load, notify); cache.profile = {};"
							e-required
						>
							<span class="handle"><%- node.data.profile.id || node.data.profile._id %></span>
						</span>
					</div>
					
					<div ng-if="node.data.profile.category == 'users'" style="margin-top: 5px;">
			
						<a
							href="#"
							editable-select="cache.profile.mode"
							ng-disabled="<%- readOnly %>"
							buttons="yes"
							style="color: #000; font-style: inherit; font-weight: bold;"
							e-ng-options="s.value as s.text for s in [
								{text: 'Offline', value: 'Offline'},
								{text: 'Online', value: 'Online'},
								{text: 'Available', value: 'Available'},
								{text: 'Unavailable', value: 'Unavailable'},
								{text: 'Logged Out', value: 'Logged Out'},
								{text: 'On Demand', value: 'On Demand'},
							]"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', mode: cache.profile.mode || ''}).then(templates.load, notify); cache.profile = {};"
						><%- node.data.profile.mode || 'Offline' %></a>						
			
						<span>&</span>
			
						<a
							href="#"
							editable-select="cache.profile.state"
							ng-disabled="<%- readOnly %>"
							buttons="yes"
							style="color: #000; font-style: inherit; font-weight: bold;"
							e-ng-options="s.value as s.text for s in [
								{text: 'Idle', value: 'Idle'},
								{text: 'Waiting', value: 'Waiting'},
								{text: 'Receiving', value: 'Receiving'},
								{text: 'Busy', value: 'Busy'},
								{text: 'Away', value: 'Away'},
								{text: 'Lunch', value: 'Lunch'},
								{text: 'Break', value: 'Break'},
								{text: 'Wrap-up', value: 'Wrap-up'}
							]"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', state: cache.profile.state || ''}).then(templates.load, notify); cache.profile = {};"
						><%- node.data.profile.state || 'Away' %></a>
			
					</div>
									
					<div style="margin-top: 15px;">
						<span
							editable-text="cache.profile.description"
							ng-disabled="<%- readOnly %>"
							style="word-break: break-word; color: #000; font-style: inherit;"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', description: cache.profile.description || ''}).then(templates.load, notify); cache.profile = {};"
						>— {{"<%- node.data.profile.description %>" || '...'}}</span>
					</div>
					
					<div style="margin-top: 15px;">
						
						<% if (!readOnly) { %>
							<div dropdown>
								
								<button class="btn btn-basic btn-round">
									<i class="fa fa-ellipsis-h"></i>
								</button>
								
								<ul>
									
									<li>
										<form system-form action="/api/data?collection=profiles&category=<%- node.data.profile.category %>&_id=<%- node.data.profile._id %>" method="POST" reload="true" reset="true">
											
											<input type="hidden" name="_id" value="<%- node.data.profile._id %>" />
											
											<label class="btn btn-link">
												<span>Set cover photo.</span>
										    	<input type="file" name="banner" onchange="event.target.form.submit(event);" style="display: none;" accept="image/*" />
											</label>
											
											<% if (node.data.profile?.banner) { %>
											<button type="submit" class="btn btn-link">(clear)</button>
											<% } %>
											
										</form>
									</li>
									
									<li>
										<form system-form action="/api/data?collection=profiles&category=<%- node.data.profile.category %>&_id=<%- node.data.profile._id %>" method="POST" reload="true" reset="true">
											
											<input type="hidden" name="_id" value="<%- node.data.profile._id %>" />
											
											<label class="btn btn-link">
												<span>Update profile picture.</span>
										    	<input type="file" name="image" onchange="event.target.form.submit(event);" style="display: none;" accept="image/*" />
											</label>
											
											<% if (node.data.profile?.image) { %>
											<button type="submit" class="btn btn-link">(clear)</button>
											<% } %>
											
										</form>
									</li>
									
									<li>
										<form system-form action="/api/data?collection=profiles&category=<%- node.data.profile.category %>&_id=<%- node.data.profile._id %>" method="POST" reload="true" reset="true" confirm="true">
											
											<input type="hidden" name="_id" value="<%- node.data.profile._id %>" />
											
											<% if (node.data.profile?.deactivated) { %>
											<button type="submit" name="deactivated" value="" class="btn btn-link">Activate profile.</button>
											<% } else { %>
											<button type="submit" name="deactivated" value="1" class="btn btn-link">Deactivate profile.</button>
											<% } %>
											
										</form>
									</li>
									
									<% if (node.data.profile?.deactivated) { %>
									<li>
										<form system-form action="/api/data?collection=profiles&category=<%- node.data.profile.category %>&_id=<%- node.data.profile._id %>" method="POST" reload="true" reset="true" confirm="true">
											
											<input type="hidden" name="_id" value="<%- node.data.profile._id %>" />
											
											<button type="submit" name="deleted" value="1" class="btn btn-link text-danger">Delete profile.</button>
											
										</form>
									</li>
									<% } %>
									
								</ul>
								
							</div>
						<% } %>
						
					</div>

				</div>
				
				<div class="col text-center">
					<div style="height: 240px; width: 100%; background-color: #cccccc; min-width: 75px;">
						<div style="height: 100%; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center center; background-image: url('<%- node.data.profile?.image %>');" ng-preview="<%- node.data.profile?.image %>"></div>	
					</div>
				</div>
					
			</div>
			
			<% try { %><%- include('./profile/' + node.data.profile.category + '.html'); %><% } catch(err) {} %>
			
		</div>
	</div>
	
</div>