<%
	
	if (!node.data.profile) return;
	if (node.data.profile.deleted) return;
	
	readOnly = true;
	owners = node.data.profile.owners || [];
	
	owners.push(node.data.profile._id.toString());
	
	if (owners.indexOf(session.uid) > -1) readOnly = false;
	
	if (readOnly && node.data.profile.deactivated) return;

%>

<div ng-init="cache.profile = {};">
	
	<div style="height: 250px; background-color: #f2f2f2; overflow: hidden;">
		<div style="height: 100%; width: 100%;" ng-preview="<%- node.data.profile?.cover %>">
			<div style="width: calc(100% + 100px); height: calc(100% + 100px); background-size: 100% auto; background-position: center center; background-image: url('<%- node.data.profile?.cover %>'); filter: blur(15px); margin: -50px;">
				<div style="height: 100%; width: 100%;"></div>
			</div>
		</div>
	</div>
	
	<div style="margin-top: -150px; pointer-events: none;">
		<div class="container" style="background-color: #ffffff; border-top-left-radius: 15px; padding: 0; pointer-events: all; position: relative; z-index: 1;">
		
			<div class="row">
				
				<div class="col" style="padding: 35px;">
					
					<div>
						<span
							editable-text="cache.profile.title"
							ng-disabled="<%- readOnly %>"
							style="font-size: 23px; font-weight: bold; word-break: break-word; color: #000; font-style: inherit;"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', title: cache.profile.title || ''}).then(templates.load, notify); cache.profile = {};"
						><%- node.data.profile.title || node.data.profile._id %></span>
					</div>
					
					<div style="margin: 5px 0;">
						<div class="avatar" style="background-image: url('/cdn/avatars/<%- node.data.profile.id %>');"></div>
						<span
							editable-text="cache.profile.id"
							ng-disabled="<%- readOnly %>"
							style="color: #000; font-style: inherit;"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', id: (cache.profile.id || cache.profile._id)}).then(templates.load, notify); cache.profile = {};"
							e-required
						>
							<span class="handle"><%- node.data.profile.id || node.data.profile._id %></span>
						</span>
					</div>
					
					<div ng-if="node.data.profile.category == 'users'" style="margin-top: 5px;">
			
						<a
							href="#"
							editable-select="cache.profile.mode"
							ng-disabled="<%- readOnly %>"
							buttons="yes"
							style="color: #000; font-style: inherit; font-weight: bold;"
							e-ng-options="s.value as s.text for s in [
								{text: 'Offline', value: 'Offline'},
								{text: 'Online', value: 'Online'},
								{text: 'Available', value: 'Available'},
								{text: 'Unavailable', value: 'Unavailable'},
								{text: 'Logged Out', value: 'Logged Out'},
								{text: 'On Demand', value: 'On Demand'},
							]"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', mode: cache.profile.mode || ''}).then(templates.load, notify); cache.profile = {};"
						><%- node.data.profile.mode || 'Offline' %></a>						
			
						<span>&</span>
			
						<a
							href="#"
							editable-select="cache.profile.state"
							ng-disabled="<%- readOnly %>"
							buttons="yes"
							style="color: #000; font-style: inherit; font-weight: bold;"
							e-ng-options="s.value as s.text for s in [
								{text: 'Idle', value: 'Idle'},
								{text: 'Waiting', value: 'Waiting'},
								{text: 'Receiving', value: 'Receiving'},
								{text: 'Busy', value: 'Busy'},
								{text: 'Away', value: 'Away'},
								{text: 'Lunch', value: 'Lunch'},
								{text: 'Break', value: 'Break'},
								{text: 'Wrap-up', value: 'Wrap-up'}
							]"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', state: cache.profile.state || ''}).then(templates.load, notify); cache.profile = {};"
						><%- node.data.profile.state || 'Away' %></a>
			
					</div>
									
					<div style="margin-top: 15px;">
						<span
							editable-text="cache.profile.description"
							ng-disabled="<%- readOnly %>"
							style="word-break: break-word; color: #000; font-style: inherit;"
							onaftersave="$http.post('/api/data?collection=profiles&category=<%- node.data.profile.category %>', {_id: '<%- node.data.profile._id %>', description: cache.profile.description || ''}).then(templates.load, notify); cache.profile = {};"
						>— {{"<%- node.data.profile.description %>" || '...'}}</span>
					</div>

				</div>
				
				<div class="col text-center">
					<div style="height: 240px; width: 100%; background-color: #cccccc; min-width: 75px;">
						<div style="height: 100%; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center center; background-image: url('<%- node.data.profile?.image || ("/cdn/avatars/" + node.data.profile?.id) %>');" ng-preview="<%- node.data.profile?.image %>"></div>	
					</div>
				</div>
					
			</div>
			
			<% try { %><%- include('./profile/' + node.data.profile.category + '.html'); %><% } catch(err) {} %>
			
		</div>
	</div>
	
</div>
