<div style="padding: 55px 0; background-color: #f2f2f2;">
	<div class="container">
		
		<h1>Share via:</h1>
		
		
		<a href="https://www.facebook.com/dialog/send?app_id=321983581337375&display=popup&link=https%3A%2F%2Fwww.paypal.com%2Fdonate%2F%3Fhosted_button_id%3DFRZ99GSBRPG6U&redirect_uri=https://www.facebook.com">Msngr.</a>
		
		<a href="https://web.whatsapp.com/send?&text=Hey%2C%0D%0A%0D%0AI%27m%20hoping%20you%27ll%20consider%20supporting%20the%20good%20work%20Alain%20Mena%20Galindo%20does%20by%20donating%20or%20sharing%20with%20others%20who%27d%20like%20to%20help.%0D%0A%0D%0ADonate%20here%3A%20https%3A%2F%2Fwww.paypal.com%2Fdonate%2F%3Fhosted_button_id%3DFRZ99GSBRPG6U">Whats APP.</a>
		
		<a href="">Twitter</a>
		
		
	</div>
</div>